In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
house_data = pd.read_csv("price_paid_records.csv")

In [3]:
house_data

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017-02-20 00:00,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017-02-15 00:00,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017-02-24 00:00,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017-02-22 00:00,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017-03-03 00:00,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [4]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 11 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Transaction unique identifier      object
 1   Price                              int64
 2   Date of Transfer                   object
 3   Property Type                      object
 4   Old/New                            object
 5   Duration                           object
 6   Town/City                          object
 7   District                           object
 8   County                             object
 9   PPDCategory Type                   object
 10  Record Status - monthly file only  object
dtypes: int64(1), object(10)
memory usage: 1.8+ GB

In [5]:
house_data['Date of Transfer'] = pd.to_datetime(house_data['Date of Transfer'], format='%Y-%m-%d %H:%M', errors='coerce')
house_data['Date of Transfer'] = house_data['Date of Transfer'].dt.year

In [6]:
house_data

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [7]:
house_data = house_data.rename(columns={'Date of Transfer':'Year'})
house_data = house_data.rename(columns={'Old/New':'New'})

In [8]:
house_data

,Transaction unique identifier,Price,Year,Property Type,New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [9]:
house_data = house_data.drop(['Transaction unique identifier', 'PPDCategory Type', 'Record Status - monthly file only'], axis=1)

In [10]:
house_data

,Price,Year,Property Type,New,Duration,Town/City,District,County
0,25000,1995,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER
1,42500,1995,S,N,F,GRAYS,THURROCK,THURROCK
2,45000,1995,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET
3,43150,1995,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE
4,18899,1995,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE
...,...,...,...,...,...,...,...,...
22489343,175000,2017,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE
22489344,586945,2017,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE
22489345,274000,2017,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE
22489346,36000,2017,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE
22489347,145000,2017,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE

In [11]:
# Replace the abbreviation for Property Type
house_data['Property Type'].replace('T', 'Terraced', inplace=True)
house_data['Property Type'].replace('S', 'Semi-Detached', inplace=True)
house_data['Property Type'].replace('D', 'Detached', inplace=True)
house_data['Property Type'].replace('F', 'Flats/Maisonettes', inplace=True)
house_data['Property Type'].replace('O', 'Other Property Type', inplace=True)

# Replace the abbreviation for New
house_data['New'].replace('Y', True, inplace=True)
house_data['New'].replace('N', False, inplace=True)


# Replace the abbreviation for Duration
house_data['Duration'].replace('F', 'Freehold', inplace=True)
house_data['Duration'].replace('L', 'Leasehold', inplace=True)
house_data['Duration'].replace('O', 'Other Duration Type', inplace=True)

house_data

,Price,Year,Property Type,New,Duration,Town/City,District,County
0,25000,1995,Terraced,False,Freehold,OLDHAM,OLDHAM,GREATER MANCHESTER
1,42500,1995,Semi-Detached,False,Freehold,GRAYS,THURROCK,THURROCK
2,45000,1995,Terraced,False,Freehold,HIGHBRIDGE,SEDGEMOOR,SOMERSET
3,43150,1995,Terraced,False,Freehold,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE
4,18899,1995,Semi-Detached,False,Freehold,WAKEFIELD,LEEDS,WEST YORKSHIRE
...,...,...,...,...,...,...,...,...
22489343,175000,2017,Semi-Detached,False,Freehold,LEEDS,LEEDS,WEST YORKSHIRE
22489344,586945,2017,Detached,False,Freehold,WETHERBY,LEEDS,WEST YORKSHIRE
22489345,274000,2017,Detached,False,Leasehold,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE
22489346,36000,2017,Terraced,False,Freehold,HALIFAX,CALDERDALE,WEST YORKSHIRE
22489347,145000,2017,Terraced,False,Freehold,LEEDS,LEEDS,WEST YORKSHIRE

In [12]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Price          int64
 1   Year           int32
 2   Property Type  object
 3   New            bool
 4   Duration       object
 5   Town/City      object
 6   District       object
 7   County         object
dtypes: bool(1), int32(1), int64(1), object(5)
memory usage: 1.1+ GB

In [13]:
from sklearn.model_selection import train_test_split
x = house_data.drop(['Price'], axis=1)
y = house_data['Price']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [15]:
train_data = x_train.join(y_train)

In [16]:
train_data

,Year,Property Type,New,Duration,Town/City,District,County,Price
4160127,1999,Detached,False,Freehold,COVENTRY,SOLIHULL,WEST MIDLANDS,150000
15242645,2008,Detached,False,Freehold,SLEAFORD,NORTH KESTEVEN,LINCOLNSHIRE,160000
9004364,2003,Terraced,False,Freehold,CLEVEDON,NORTH SOMERSET,NORTH SOMERSET,110950
12629824,2006,Detached,False,Freehold,WORKSOP,BASSETLAW,NOTTINGHAMSHIRE,175000
15561808,2008,Flats/Maisonettes,False,Leasehold,CHESTER,CHESTER,CHESHIRE,57500
...,...,...,...,...,...,...,...,...
1264714,1996,Terraced,False,Freehold,TWICKENHAM,RICHMOND UPON THAMES,GREATER LONDON,88500
491035,1995,Semi-Detached,False,Freehold,NORWICH,NORWICH,NORFOLK,47500
6825626,2001,Terraced,False,Freehold,LITTLEHAMPTON,ARUN,WEST SUSSEX,89995
14979237,2007,Terraced,False,Freehold,LONDON,NEWHAM,GREATER LONDON,249995
22172863,2017,Semi-Detached,False,Leasehold,CRAMLINGTON,NORTHUMBERLAND,NORTHUMBERLAND,211000

In [17]:
train_data = train_data.join(pd.get_dummies(train_data['Property Type'], prefix='Property Type')).drop(['Property Type'], axis=1)
train_data = train_data.join(pd.get_dummies(train_data['Duration'])).drop(['Duration'], axis=1)
train_data = train_data.join(pd.get_dummies(train_data['Town/City'], prefix='Town/City')).drop(['Town/City'], axis=1)
train_data = train_data.join(pd.get_dummies(train_data['District'], prefix='District')).drop(['District'], axis=1)
train_data = train_data.join(pd.get_dummies(train_data['County'], prefix='County')).drop(['County'], axis=1)
train_data

MemoryError: Unable to allocate 19.6 GiB for an array with shape (1169, 17991478) and data type bool