In [1]:
# This file is aiming at processing data.
# As the data processing process needs to call google api, it is not convenient to re-run the data processing code every time the model is tuned
# Don't need to run this code if you just want to model
# The procecssed data will be exported as Processed_data.csv file
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/data.csv")

In [3]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
from decimal import Decimal
# Convert house price to integer
data['price'] = data['price'].astype(float).astype(int)
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [5]:
# Combine to full address for coordinate translation
data['Address'] = data['street'].str.cat([data['city'],data['statezip'], data['country']],sep=' ')
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Address
0,2014-05-02 00:00:00,313000,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA
1,2014-05-02 00:00:00,2384000,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA
2,2014-05-02 00:00:00,342000,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA
3,2014-05-02 00:00:00,420000,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA
4,2014-05-02 00:00:00,550000,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA

In [6]:
#Creating Latitude and Longitude Attributes
data['Latitude'] = 0
data['Longitude'] = 0
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Address,Latitude,Longitude
0,2014-05-02 00:00:00,313000,3.0,1.50,1340,7912,1.5,0,0,3,...,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA,0,0
1,2014-05-02 00:00:00,2384000,5.0,2.50,3650,9050,2.0,0,4,5,...,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA,0,0
2,2014-05-02 00:00:00,342000,3.0,2.00,1930,11947,1.0,0,0,4,...,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA,0,0
3,2014-05-02 00:00:00,420000,3.0,2.25,2000,8030,1.0,0,0,4,...,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA,0,0
4,2014-05-02 00:00:00,550000,4.0,2.50,1940,10500,1.0,0,0,4,...,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,308166,3.0,1.75,1510,6360,1.0,0,0,4,...,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,501 N 143rd St Seattle WA 98133 USA,0,0
4596,2014-07-09 00:00:00,534333,3.0,2.50,1460,7573,2.0,0,0,3,...,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,14855 SE 10th Pl Bellevue WA 98007 USA,0,0
4597,2014-07-09 00:00:00,416904,3.0,2.50,3010,7014,2.0,0,0,3,...,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,759 Ilwaco Pl NE Renton WA 98059 USA,0,0
4598,2014-07-10 00:00:00,203400,4.0,2.00,2090,6630,1.0,0,0,3,...,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,5148 S Creston St Seattle WA 98178 USA,0,0
4599,2014-07-10 00:00:00,220600,3.0,2.50,1490,8102,2.0,0,0,4,...,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,18717 SE 258th St Covington WA 98042 USA,0,0

In [9]:
#Converting Addresses to Latitude and Longitude with Google Api
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key='AIzaSyDRFAJluyKha3xJ0eDffsvv3nRQtdFuHHU')
rows = data.shape[0]

for i in range(rows):
    geocode_result = gmaps.geocode(data['Address'][i])
    data['Latitude'][i] = geocode_result[0]['geometry']['location']['lat']
    data['Longitude'][i] = geocode_result[0]['geometry']['location']['lng']
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Address,Latitude,Longitude
0,2014-05-02 00:00:00,313000,3.0,1.50,1340,7912,1.5,0,0,3,...,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA,47.765784,-122.338860
1,2014-05-02 00:00:00,2384000,5.0,2.50,3650,9050,2.0,0,4,5,...,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA,47.634528,-122.366896
2,2014-05-02 00:00:00,342000,3.0,2.00,1930,11947,1.0,0,0,4,...,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA,47.367389,-122.150525
3,2014-05-02 00:00:00,420000,3.0,2.25,2000,8030,1.0,0,0,4,...,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA,47.618727,-122.113859
4,2014-05-02 00:00:00,550000,4.0,2.50,1940,10500,1.0,0,0,4,...,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA,47.683072,-122.113971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,308166,3.0,1.75,1510,6360,1.0,0,0,4,...,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,501 N 143rd St Seattle WA 98133 USA,47.732048,-122.352864
4596,2014-07-09 00:00:00,534333,3.0,2.50,1460,7573,2.0,0,0,3,...,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,14855 SE 10th Pl Bellevue WA 98007 USA,47.601195,-122.141083
4597,2014-07-09 00:00:00,416904,3.0,2.50,3010,7014,2.0,0,0,3,...,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,759 Ilwaco Pl NE Renton WA 98059 USA,47.494972,-122.149350
4598,2014-07-10 00:00:00,203400,4.0,2.00,2090,6630,1.0,0,0,3,...,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,5148 S Creston St Seattle WA 98178 USA,47.507109,-122.267937
4599,2014-07-10 00:00:00,220600,3.0,2.50,1490,8102,2.0,0,0,4,...,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,18717 SE 258th St Covington WA 98042 USA,47.371119,-122.092092

In [24]:
#Extract year and month from date as new attributes
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d %H:%M:%S')
data['Year'] = data['date'].dt.year
data['Month'] = data['date'].dt.month
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,street,city,statezip,country,Address,Latitude,Longitude,Year,Month
0,2014-05-02,313000,3.0,1.50,1340,7912,1.5,0,0,3,...,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA,47.765784,-122.338860,2014,5
1,2014-05-02,2384000,5.0,2.50,3650,9050,2.0,0,4,5,...,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA,47.634528,-122.366896,2014,5
2,2014-05-02,342000,3.0,2.00,1930,11947,1.0,0,0,4,...,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA,47.367389,-122.150525,2014,5
3,2014-05-02,420000,3.0,2.25,2000,8030,1.0,0,0,4,...,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA,47.618727,-122.113859,2014,5
4,2014-05-02,550000,4.0,2.50,1940,10500,1.0,0,0,4,...,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA,47.683072,-122.113971,2014,5

In [26]:
#data back up
data_backup = data.copy()
data_backup

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,street,city,statezip,country,Address,Latitude,Longitude,Year,Month
0,2014-05-02,313000,3.0,1.50,1340,7912,1.5,0,0,3,...,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA,47.765784,-122.338860,2014,5
1,2014-05-02,2384000,5.0,2.50,3650,9050,2.0,0,4,5,...,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA,47.634528,-122.366896,2014,5
2,2014-05-02,342000,3.0,2.00,1930,11947,1.0,0,0,4,...,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA,47.367389,-122.150525,2014,5
3,2014-05-02,420000,3.0,2.25,2000,8030,1.0,0,0,4,...,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA,47.618727,-122.113859,2014,5
4,2014-05-02,550000,4.0,2.50,1940,10500,1.0,0,0,4,...,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA,47.683072,-122.113971,2014,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09,308166,3.0,1.75,1510,6360,1.0,0,0,4,...,1979,501 N 143rd St,Seattle,WA 98133,USA,501 N 143rd St Seattle WA 98133 USA,47.732048,-122.352864,2014,7
4596,2014-07-09,534333,3.0,2.50,1460,7573,2.0,0,0,3,...,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,14855 SE 10th Pl Bellevue WA 98007 USA,47.601195,-122.141083,2014,7
4597,2014-07-09,416904,3.0,2.50,3010,7014,2.0,0,0,3,...,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,759 Ilwaco Pl NE Renton WA 98059 USA,47.494972,-122.149350,2014,7
4598,2014-07-10,203400,4.0,2.00,2090,6630,1.0,0,0,3,...,0,5148 S Creston St,Seattle,WA 98178,USA,5148 S Creston St Seattle WA 98178 USA,47.507109,-122.267937,2014,7
4599,2014-07-10,220600,3.0,2.50,1490,8102,2.0,0,0,4,...,0,18717 SE 258th St,Covington,WA 98042,USA,18717 SE 258th St Covington WA 98042 USA,47.371119,-122.092092,2014,7

In [27]:
#Export as csv file
data.to_csv('Processed_data.csv',index=False,header=True)
pd.read_csv('Processed_data.csv')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,street,city,statezip,country,Address,Latitude,Longitude,Year,Month
0,2014-05-02,313000,3.0,1.50,1340,7912,1.5,0,0,3,...,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,18810 Densmore Ave N Shoreline WA 98133 USA,47.765784,-122.338860,2014,5
1,2014-05-02,2384000,5.0,2.50,3650,9050,2.0,0,4,5,...,0,709 W Blaine St,Seattle,WA 98119,USA,709 W Blaine St Seattle WA 98119 USA,47.634528,-122.366896,2014,5
2,2014-05-02,342000,3.0,2.00,1930,11947,1.0,0,0,4,...,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,26206-26214 143rd Ave SE Kent WA 98042 USA,47.367389,-122.150525,2014,5
3,2014-05-02,420000,3.0,2.25,2000,8030,1.0,0,0,4,...,0,857 170th Pl NE,Bellevue,WA 98008,USA,857 170th Pl NE Bellevue WA 98008 USA,47.618727,-122.113859,2014,5
4,2014-05-02,550000,4.0,2.50,1940,10500,1.0,0,0,4,...,1992,9105 170th Ave NE,Redmond,WA 98052,USA,9105 170th Ave NE Redmond WA 98052 USA,47.683072,-122.113971,2014,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09,308166,3.0,1.75,1510,6360,1.0,0,0,4,...,1979,501 N 143rd St,Seattle,WA 98133,USA,501 N 143rd St Seattle WA 98133 USA,47.732048,-122.352864,2014,7
4596,2014-07-09,534333,3.0,2.50,1460,7573,2.0,0,0,3,...,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,14855 SE 10th Pl Bellevue WA 98007 USA,47.601195,-122.141083,2014,7
4597,2014-07-09,416904,3.0,2.50,3010,7014,2.0,0,0,3,...,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,759 Ilwaco Pl NE Renton WA 98059 USA,47.494972,-122.149350,2014,7
4598,2014-07-10,203400,4.0,2.00,2090,6630,1.0,0,0,3,...,0,5148 S Creston St,Seattle,WA 98178,USA,5148 S Creston St Seattle WA 98178 USA,47.507109,-122.267937,2014,7
4599,2014-07-10,220600,3.0,2.50,1490,8102,2.0,0,0,4,...,0,18717 SE 258th St,Covington,WA 98042,USA,18717 SE 258th St Covington WA 98042 USA,47.371119,-122.092092,2014,7